[submodule "dot-config/btop/asserts/btop"]
	path = dot-config/btop/asserts/btop
	url = https://github.com/catppuccin/btop.git
[submodule "dot-config/bat/asserts/bat"]
	path = dot-config/bat/asserts/bat
	url = https://github.com/catppuccin/bat.git
[submodule "dot-config/yazi/asserts/yazi"]
	path = dot-config/yazi/asserts/yazi
	url = https://github.com/catppuccin/yazi.git
[submodule "dot-config/tmux/plugins/tpm"]
	path = dot-config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "dot-config/karabiner/asserts/karabiner"]
	path = dot-config/karabiner/asserts/karabiner
	url = https://github.com/kushvinth/karabiner.git
